<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Система учета успеваемости студентов</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'student_list' %}">Студенты</a></li>
            <li><a href="{% url 'subject_list' %}">Предметы</a></li>
            <li><a href="{% url 'grade_list' %}">Оценки</a></li>
            <li><a href="{% url 'report' %}">Отчет</a></li>
            <li><a href="{% url 'average_report' %}">Рассчитать средний балл</a></li>

        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
