{% extends 'base.html' %}

{% block content %}
  <h1>Отчет об успеваемости студентов</h1>

  <h2>Лучший студент</h2>
  {% if best_student_name %}
    <p>Имя: {{ best_student_name }}</p>
    <p>Средний балл: {{ best_student_avg_grade }}</p>
  {% else %}
    <p>No data available.</p>
  {% endif %}

  <h2>Худший студент</h2>
  {% if worst_student_name %}
    <p>Имя: {{ worst_student_name }}</p>
    <p>Средний балл: {{ worst_student_avg_grade }}</p>
  {% else %}
    <p>No data available.</p>
  {% endif %}
{% endblock %}
