{% extends 'base.html' %}

{% block content %}
  <h1>Список предметов</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Преподаватель</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td>{{ subject.id }}</td>
          <td>{{ subject.subject_name }}</td>  <!-- Изменено на subject_name -->
          <td>{{ subject.professor }}</td>
          <td>
            <a href="{% url 'edit_subject' subject.id %}">Изменить</a>
            <a href="{% url 'delete_subject' subject.id %}">Удалить</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Пусто.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <a href="{% url 'create_subject' %}">Добавить предмет</a>
{% endblock %}
