{% extends 'base.html' %}

{% block content %}
  <h1>Subject List</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Professor</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td>{{ subject.id }}</td>
          <td>{{ subject.subject_name }}</td>  <!-- Изменено на subject_name -->
          <td>{{ subject.professor }}</td>
          <td>
            <a href="{% url 'edit_subject' subject.id %}">Edit</a>
            <a href="{% url 'delete_subject' subject.id %}">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No subjects found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <a href="{% url 'create_subject' %}">Create New Subject</a>
{% endblock %}
